name: Auto Mirror
on:
  schedule:
    - cron: 0 16 */7 * *
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      TASKS: ${{ secrets.TASKS }}
    steps:
      - name: Sync
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "$TASKS" > tasks.json
          COUNT=$(jq length tasks.json)
          for i in $(seq 0 $((COUNT - 1))); do
            echo "Task #$i start"
            SOURCE_URL=$(jq -r ".[$i].source" tasks.json)
            TARGETS=$(jq -r ".[$i].targets[]" tasks.json)
            TEMP_DIR=$(mktemp -d)
            git clone --bare "$SOURCE_URL" "$TEMP_DIR" >/dev/null 2>&1
            cd "$TEMP_DIR"
            echo "$TARGETS" | while read TARGET; do
              git push "git@github.com:$TARGET.git" "refs/heads/*:refs/heads/*" "refs/tags/*:refs/tags/*" >/dev/null 2>&1
            done
            cd "$GITHUB_WORKSPACE"
            rm -rf "$TEMP_DIR"
            echo "Task #$i over"
          done
