name: Auto Mirror
on:
  schedule:
    - cron: 0 16 * * *
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    env:
      TASKS: ${{ secrets.TASKS }}
    steps:
      - name: Sync
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "$TASKS" > tasks.json
          COUNT=$(jq length tasks.json)
          for i in $(seq 0 $((COUNT - 1))); do
            SOURCE=$(jq -r ".[$i].source" tasks.json)
            TARGETS=$(jq -r ".[$i].targets[]" tasks.json)
            TEMP_DIR=$(mktemp -d)
            git clone --bare "https://github.com/$SOURCE.git" "$TEMP_DIR"
            cd "$TEMP_DIR"
            git fetch --all
            git fetch --tags
            echo "$TARGETS" | while read TARGET; do
              TARGET_URL="git@github.com:$TARGET.git"
              git push --all "$TARGET_URL"
              git push --tags "$TARGET_URL"
            done
            cd ..
            rm -rf "$TEMP_DIR"
          done

